/*______________________________________________________________1920______________________________________________________________*/
@media screen and (min-width: 1801px) and (max-width: 1920px) {
  .container {
    grid-template-rows: repeat(11, 310px);
  }
}
/*______________________________________________________________1440______________________________________________________________*/
@media screen and (min-width: 1399px) and (max-width: 1440px) {
  .container {
    grid-template-rows: repeat(11, 300px);
  }
  /*стили алины*/
  .alina {
    margin-left: 180px;
  }
  .b1t1 {
    padding-top: 150px;
    padding-left: 40px;
  }
  .b1t1 p {
    font-size: 80px;
  }
  /*стили 2 блока (надпись)*/
  .block2 {
    background: url('images/line11440.svg');
  }
  .b2t1 p {
    margin-top: 65px;
    margin-left: 10px;
    font-size: 55px;
    text-align: center;
  }
  /*стили слез*/
  .tears {
    height: 280px;
    width: 390px;
    background: url('images/tears1440.svg');
    animation: tears1440.7s steps(1) infinite;
  }
  @keyframes tears1440 {
    0% {background-position: 0 0;}
    5% {background-position: -360px 0;}
    10% {background-position: -720px 0;}
    15% {background-position: -1080px 0;}
    20% {background-position: -1440px 0;}
    25% {background-position: -1800px 0;}
    30% {background-position: -2160px 0;}
    35% {background-position: -2520px 0;}
    40%  {background-position: -2880px 0;}
    45%  {background-position: -3240px 0;}
    50%  {background-position: -3960px 0;}
    55%  {background-position: -4320px 0;}
    60%  {background-position: -4680px 0;}
    65%  {background-position: -5040px 0;}
    70%  {background-position: -5400px 0;}
    75%  {background-position: -5760px 0;}
    80%  {background-position: -6120px 0;}
    85%  {background-position: -6840px 0;}
    90%  {background-position: -7200px 0;}
    95%  {background-position: -7200px 0;}
    100%  {background-position: -7200px 0;}
  }
  /*стили долларов*/
  .block6 {
    background: url('images/money11440.svg');
  }
  .block6:hover {
    background: url('images/money21440.svg');
  }
  /*стили двух половинок*/
  .rheart {
    height: 580px;
    width: 580px;
    background: url('images/rheart1440.svg');
  }
  .rheart:hover {
    background: url('images/rheart21440.svg');
  }
  .block5 {
    background: url('images/face11440.svg');
  }
  .block5:hover {
    background: url('images/face21440.svg');
  }
  /*стили с солнцем*/
  .b7t1 p {
    padding-top: 125px;
    padding-left: 50px;
    font-size: 60px;
  }
  .sun {
    margin-top: 20px;
  }
  /*стили блока с тeлефоном*/
  .phone {
    margin-left: 175px;
  }
  .block8 {
    background: url('images/line21440.svg');
  }
  /*стили 3 сердечек*/
  .block9 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .heart1 {
    width: 200px;
    height: 208px;
    background: url('images/heart1.svg');
  }
  .heart2 {
    width: 165px;
    height: 232px;
    background: url('images/heart2.svg');
  }
  .heart3 {
    width: 191px;
    height: 221px;
    background: url('images/heart3.svg');
  }
  .heart1:hover {
    background: url('images/heart12.svg');
  }
  .heart2:hover {
    background: url('images/heart22.svg');
  }
  .heart3:hover {
    background: url('images/heart32.svg');
  }
  /*стили блока со звездами*/
  .stars {
    width: 540px;
    height: 300px;
    background: url('images/stars1440.svg');
    animation: stars1440 0.7s steps(1) infinite;
  }
  @keyframes stars1440 {
    0% {background-position: 0 0;}
    50% {background-position: -540px 0;}
    100% {background-position: -1080px 0;}
    }
  .block10 p {
    font-size: 60px;
  }
  .b10t2 {
    margin-left:-20px;
  }
  /*стили 11 блока*/
  .happyhearts {
    margin-left: -26px;
  }
  /*стили блока с цветами*/
  .flowers {
    margin-left: -80px;
  }
  .b12t1 p {
    padding-left: 105px;
  }
  .b12t2 p {
    padding-left: 30px;
  }
  /*стили черных сердец*/
  .blackhearts {
    width: 360px;
    height: 600px;
    display: block;
    background: url('images/blackheart1440.svg');
    animation: bheart1440 0.8s steps(1) infinite;
  }
  @keyframes bheart1440 {
    0% {background-position: 0 0;}
    16% {background-position: -360px 0;}
    32% {background-position: -720px 0;}
    48% {background-position: -1080px 0;}
    64% {background-position: -1440px 0;}
    80% {background-position: -1800px 0;}
    }
  /*стили горящего сердца*/
  .fireheart {
    margin-left: 35px;
  }
  /*стили подвала*/
  .block15 img {
    margin-top: 70px;
    margin-left: 445px;
  }
}
/*------------------------------------------------------------1024---------------------------------------------------*/
  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    .container {
      grid-template-rows: repeat(11, 350px);
    }
  }
/*______________________________________________________________834______________________________________________________________*/
@media screen and (min-width: 744px) and (max-width: 834px) {
  .container {
    display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(24, 220px);
      gap: 0px 0px;
      grid-template-areas:
      "block1 block1 block1 block1"
      "block1 block1 block1 block1"
      "block1 block1 block1 block1"
      "block2 block2 block3 block3"
      "block2 block2 block3 block3"
      "block4 block4 block6 block6"
      "block4 block4 block5 block5"
      "block7 block7 block7 block7"
      "block7 block7 block7 block7"
      "block9 block9 block9 block9"
      "block9 block9 block9 block9"
      "block8 block8 block10 block10"
      "block8 block8 block10 block10"
      "block8 block8 block10 block10"
      "block11 block11 block11 block11"
      "block11 block11 block11 block11"
      "block11 block11 block11 block11"
      "block12 block12 block12 block12"
      "block12 block12 block12 block12"
      "block12 block12 block12 block12"
      "block12 block12 block12 block12"
      "block13 block13 block14 block14"
      "block13 block13 block14 block14"
      "block13 block13 block14 block14"
      "block15 block15 block15 block15"
    }
    /*стили алины*/
    .alina {
      margin-left: 185px;
      margin-top: 60px;
    }
    .b1t1 {
      padding-top: 180px;
      padding-left: 60px;
    }
    .b1t1 p {
      font-size: 80px;
    }
    /*стили 2 блока (надпись)*/
    .block2 {
      background: url('images/line1834.svg');
    }
    .b2t1 p {
      margin-top: 65px;
      margin-left: 15px;
      font-size: 100px;
      text-align: center;
    }
    .tears {
      margin-top: 60px;
      margin-left: 130px;
    }
    /*стили долларов*/
    .block6 {
      background: url('images/money1834.svg');
    }
    .block6:hover {
      background: url('images/money2834.svg');
    }
    /*стили смайлов*/
    .block5 {
      background: url('images/face1834.svg');
    }
    .block5:hover {
      background: url('images/face2834.svg');
    }
    /*стили с солнцем*/
    .block7 {
      display: flex;
    }
    .b7t1 p {
      font-size: 130px;
      padding-top: 165px;
      padding-left: 210px;
    }
    .sun {
      width: 400px;
      height: 389px;
      margin-top: 15px;
      background: url('images/sun1834.svg');
    }
    .sun:hover {
      background: url('images/sun2834.svg');
    }
    /*стили 3 сердец*/
    .heart1 {
      width: 330px;
      height: 345px;
      background: url('images/heart1834.svg');
    }
    .heart2 {
      width: 265px;
      height: 375px;
      background: url('images/heart21834.svg');
    }
    .heart3 {
      width: 300px;
      height: 355px;
      background: url('images/heart31834.svg');
    }
    .heart1:hover {
      background: url('images/heart12834.svg');
    }
    .heart2:hover {
      background: url('images/heart22834.svg');
    }
    .heart3:hover {
      background: url('images/heart32834.svg');
    }
    .rheart {
      display: none;
    }
}
